/* Hero Section */
#hero {
    background-color: #354857; /* Dark background */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Text Styling */
.hero-content h1, .hero-content h2 {
    margin: 0;
    font-size: 3rem;
}

.hero-content p {
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Call-to-Action Button */
.cta-button {
    background-color: #f57c00;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff5722;
}

/* Typing Effect */
#typing-text::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
